# added legends to josh's: Death Location Weighted Maps

In [9]:
import pandas as pd
import requests
import json
import ipywidgets as widgets
from colormap import rgb2hex
from config import gkey
import gmaps
#pd.set_option('display.max_rows', None)

In [10]:
# Create dataframe from cleaned data
clean_data = pd.read_csv("Resources/drug_death_data_clean.csv")
#clean_data

,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,...,Benzodiazepine,Methadone,Amphetamine,Tramadol,Morphine Not Heroin,Hydromorphone,Other,OpiateNOS,Any Opioid,MannerofDeath
0,1,13-0102,03/21/2013 12:00:00 AM,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
1,2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
2,3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
3,4,13-0052,02/13/2013 12:00:00 AM,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4,5,14-0277,06/29/2014 12:00:00 AM,DateofDeath,23.0,Male,White,BRISTOL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
5,6,12-0205,08/12/2012 12:00:00 AM,DateofDeath,21.0,Female,White,WEST HARTFORD,HARTFORD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
6,7,13-0404,11/10/2013 12:00:00 AM,DateofDeath,40.0,Female,White,HAMDEN,NEW HAVEN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
7,8,12-0107,04/25/2012 12:00:00 AM,DateofDeath,40.0,Male,White,EAST HARTFORD,HARTFORD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
8,9,13-0161,05/15/2013 12:00:00 AM,DateofDeath,50.0,Male,White,MONTVILLE,NEW LONDON,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
9,13,15-0232,05/14/2015 12:00:00 AM,DateReported,50.0,Male,White,DANBURY,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
10,14,16-0028,01/13/2016 12:00:00 AM,DateofDeath,29.0,Male,Black,NEW HAVEN,NEW HAVEN,CT,...,Y,NaN,Y,NaN,NaN,NaN,NaN,NaN,Y,Accident
11,15,13-0279,08/19/2013 12:00:00 AM,DateofDeath,45.0,Male,White,HARTFORD,HARTFORD,NaN,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
12,16,14-0042,01/29/2014 12:00:00 AM,DateofDeath,29.0,Female,White,CANTERBURY,NaN,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
13,17,12-0060,03/02/2012 12:00:00 AM,DateofDeath,42.0,Male,White,WALLINGFORD,NEW HAVEN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
14,18,16-0065,01/30/2016 12:00:00 AM,DateofDeath,54.0,Male,White,MIDDLETOWN,MIDDLESEX,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
15,19,16-0889,12/20/2016 12:00:00 AM,DateofDeath,32.0,Male,White,WINDHAM,WINDHAM,CT,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
16,20,14-0474,11/14/2014 12:00:00 AM,DateofDeath,47.0,Male,White,BRIDGEPORT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
17,21,15-0263,06/02/2015 12:00:00 AM,DateReported,39.0,Female,White,ANSONIA,NEW HAVEN,CT,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
18,23,16-0688,10/07/2016 12:00:00 AM,DateofDeath,34.0,Male,White,COS COB,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
19,24,16-0495,07/16/2016 12:00:00 AM,DateofDeath,27.0,Female,White,STRATFORD,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
20,25,17-0817,10/13/2017 12:00:00 AM,DateReported,25.0,Male,White,MERIDEN,NEW HAVEN,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
21,26,18-0095,02/10/2018 12:00:00 AM,DateReported,51.0,Male,White,HARTFORD,HARTFORD,CT,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
22,27,15-0182,04/12/2015 12:00:00 AM,DateReported,23.0,Male,White,DANBURY,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
23,28,15-0098,02/27/2015 12:00:00 AM,DateReported,35.0,Male,White,NEW BRITAIN,HARTFORD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
24,29,18-0285,04/11/2018 12:00:00 AM,DateReported,25.0,Male,"Hispanic, White",HARRISBURG,DAUPHIN,PA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Accident
25,30,16-0316,05/10/2016 12:00:00 AM,DateofDeath,43.0,Male,White,MELROSE,MIDDLESEX,MA,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
26,31,13-0441,12/04/2013 12:00:00 AM,DateofDeath,48.0,Male,White,NORTH SALEM,WESTCHESTER,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
27,32,18-0468,06/18/2018 12:00:00 AM,DateReported,40.0,Female,White,TORRINGTON,LITCHFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
28,33,18-0355,05/09/2018 12:00:00 AM,DateReported,49.0,Female,White,SOUTHBURY,NEW HAVEN,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
29,34,17-0907,11/16/2017 12:00:00 AM,DateReported,40.0,Male,Black,NEW HAVEN,NEW HAVEN,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,5075,16-0914,12/31/2016 12:00:00 AM,DateofDeath,22.0,Male,"Hispanic, White",BRISTOL,HARTFORD,CT,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4891,5076,16-0334,05/17/2016 12:00:00 AM,DateofDeath,19.0,Female,Black,PITTSFIELD,BERKSHIRE,MA,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4892,5077,13-0128,04/11/2013 12:00:00 AM,DateofDeath,61.0,Male,White,SOUTHINGTON,HARTFORD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4893,5078,17-0668,08/12/2017 12:00:00 AM,DateReported,29.0,Female,White,WATERFORD,NEW LONDON,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4894,5079,13-0086,03/08/2013 12:00:00 AM,DateofDeath,45.0,Male,White,MILFORD,NEW HAVEN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4895,5080,18-0080,02/04/2018 12:00:00 AM,DateReported,47.0,Female,White,BLOOMFIELD,HARTFORD,CT,...,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,Y,Accident
4896,5081,14-0220,05/23/2014 12:00:00 AM,DateofDeath,26.0,Male,White,SHARON,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4897,5082,12-0352,12/28/2012 12:00:00 AM,DateofDeath,47.0,Male,White,HADDAM,MIDDLESEX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4898,5083,17-0242,03/22/2017 12:00:00 AM,DateReported,58.0,Female,White,BRIDGEPORT,FAIRFIELD,CT,...,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4899,5084,18-0853,10/31/2018 12:00:00 AM,DateofDeath,31.0,Male,White,STAMFORD,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4900,5085,13-0341,10/08/2013 12:00:00 AM,DateofDeath,51.0,Male,White,NEW BRITAIN,HARTFORD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4901,5086,12-0222,08/27/2012 12:00:00 AM,DateofDeath,71.0,Male,"Hispanic, White",NEW HAVEN,NEW HAVEN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,opiates,NaN,NaN,Accident
4902,5087,15-0508,09/28/2015 12:00:00 AM,DateReported,21.0,Male,White,WILTON,FAIRFIELD,CT,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4903,5088,16-0847,12/04/2016 12:00:00 AM,DateofDeath,35.0,Male,White,BRIDGEPORT,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4904,5089,16-0902,12/26/2016 12:00:00 AM,DateofDeath,35.0,Male,Other,FAIRFIELD,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4905,5090,17-0525,06/25/2017 12:00:00 AM,DateReported,33.0,Female,Black,NEW HAVEN,NEW HAVEN,CT,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4906,5091,14-0030,01/20/2014 12:00:00 AM,DateofDeath,23.0,Female,"Hispanic, White",HARTFORD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,MORPH PCP,NaN,NaN,Accident
4907,5092,18-0460,06/16/2018 12:00:00 AM,DateReported,32.0,Male,White,COLCHESTER,NEW LONDON,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4908,5093,16-0043,01/21/2016 12:00:00 AM,DateofDeath,29.0,Male,White,ELLINGTON,TOLLAND,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4909,5094,12-0091,04/06/2012 12:00:00 AM,DateofDeath,16.0,Male,White,WATERFORD,NEW LONDON,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4910,5095,18-0206,03/17/2018 12:00:00 AM,DateReported,37.0,Male,White,ESSEX,MIDDLESEX,CT,...,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,Y,Accident
4911,5096,16-0520,07/31/2016 12:00:00 AM,DateofDeath,54.0,Female,White,BETHEL,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4912,5097,17-0947,12/02/2017 12:00:00 AM,DateReported,28.0,Female,White,MIDDLETOWN,MIDDLESEX,CT,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4913,5098,14-0166,04/17/2014 12:00:00 AM,DateofDeath,56.0,Male,White,PLYMOUTH,NaN,NaN,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4914,5099,15-0013,01/07/2015 12:00:00 AM,DateReported,45.0,Female,White,WATERBURY,NEW HAVEN,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4915,5100,15-0466,09/08/2015 12:00:00 AM,DateReported,43.0,Male,White,CHESHIRE,NEW HAVEN,CT,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4916,5101,17-0618,07/22/2017 12:00:00 AM,DateReported,21.0,Male,White,MADISON,NEW HAVEN,CT,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4917,5102,18-0646,08/14/2018 12:00:00 AM,DateofDeath,30.0,Male,White,LAWRENCEVILLE,TIOGA,PA,...,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,Y,Accident
4918,5103,14-0124,03/16/2014 12:00:00 AM,DateofDeath,33.0,Male,White,HARTFORD,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4919,5104,16-0637,09/15/2016 12:00:00 AM,DateofDeath,33.0,Male,White,THOMASTON,LITCHFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident

In [11]:
# Group data by Death City by count

city_grouped = clean_data.groupby("DeathCity")
city_counts = pd.DataFrame(city_grouped.count()["ID"])
city_counts = city_counts.reset_index()
city_counts = city_counts.rename(columns={"DeathCity":"City","ID":"Deaths"})
# Drop city 06340
city_counts = city_counts.loc[city_counts["City"] != "06340",:]

In [12]:
# Create new columns for city coordinates
city_counts["Latitude"] = ""
city_counts["Longitude"] = ""


# Call google places api for each city and retrieve coordinates
base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
params = {"key":gkey,
         "input":"",
         "inputtype":"textquery",
         "fields":"geometry/location"}

for index, row in city_counts.iterrows():
    # Change input for each row/city.  Add "CT" since we're working in Connecticut
    params["input"] = row["City"] + ",CT"
    # Call google places API
    response = requests.get(base_url,params)
    print(f"Processing {row['City']}...")
    # If good response, store lat and lng in df
    if response.status_code == 200:
        try:
            city_counts.loc[index,"Latitude"] = response.json()['candidates'][0]["geometry"]["location"]["lat"]
            city_counts.loc[index,"Longitude"] = response.json()['candidates'][0]["geometry"]["location"]["lng"]
        except IndexError:
          print(f"Information not found for {row['City']}! Continuing...")
    else:
        print(f"Information not found for {row['City']}! Continuing...")
              
print("Latitude/Longitude processing complete!")

Processing AMSTON...
Processing ANDOVER...
Processing ANSONIA...
Processing ASHFORD...
Processing AVON...
Processing BAKERSVILLE...
Processing BALTIC...
Processing BANTAM...
Processing BARKHAMSTED...
Processing BEACON FALLS...
Processing BERLIN...
Processing BETHANY...
Processing BETHEL...
Processing BETHLEHEM...
Processing BLOOMFIELD...
Processing BOLTON...
Processing BOZRAH...
Processing BRANFORD...
Processing BRIDGEPORT...
Processing BRIDGEWATER...
Processing BRISTOL...
Processing BROAD BROOK...
Processing BROOKFIELD...
Processing BROOKLYN...
Processing BURLINGTON...
Processing CANTERBURY...
Processing CANTON...
Processing CENTRAL VILLAGE...
Processing CHAPLIN...
Processing CHESHIRE...
Processing CHESTER...
Processing CLINTON...
Processing COLCHESTER...
Processing COLUMBIA...
Processing CORNWALL BRIDGE...
Processing COS COB...
Processing COVENTRY...
Processing CROMWELL...
Processing DANBURY...
Processing DANIELSON...
Processing DARIEN...
Processing DAYVILLE...
Processing DEEP RIVER...
Processing DERBY...
Processing DURHAM...
Processing EAST CANAAN...
Processing EAST GRANBY...
Processing EAST HADDAM...
Processing EAST HAMPTON...
Processing EAST HARTFORD...
Processing EAST HARTLAND...
Processing EAST HAVEN...
Processing EAST LYME...
Processing EAST WINDSOR...
Processing EAST WOODSTOCK...
Processing EASTFORD...
Processing EASTON...
Processing ELLINGTON...
Processing ENFIELD...
Processing ESSEX...
Processing FAIRFIELD...
Processing FARMINGTON...
Processing FRANKLIN...
Processing GALES FERRY...
Processing GLASTONBURY...
Processing GOSHEN...
Processing GRANBY...
Processing GREENWICH...
Processing GRISWOLD...
Processing GROTON...
Processing GROTON LONG POINT...
Processing GUILFORD...
Processing HADDAM...
Processing HAMDEN...
Processing HAMPTON...
Processing HANOVER...
Processing HARTFORD...
Processing HARWINTON...
Processing HEBRON...
Processing HIGGANUM...
Processing IVORYTON...
Processing JEWETT CITY...
Processing KENT...
Processing KILLINGLY...
Processing KILLINGWORTH...
Processing LEBANON...
Processing LEDYARD...
Processing LISBON...
Processing LITCHFIELD...
Processing MADISON...
Processing MANCHESTER...
Processing MANSFIELD...
Processing MARLBOROUGH...
Processing MASHANTUCKET...
Processing MERIDEN...
Processing MIDDLEBURY...
Processing MIDDLEFIELD...
Processing MIDDLETOWN...
Processing MILFORD...
Processing MONROE...
Processing MONTVILLE...
Processing MOODUS...
Processing MOOSUP...
Processing MORRIS...
Processing MYSTIC...
Processing N HAVEN...
Processing NAUGATUCK...
Processing NEW BRITAIN...
Processing NEW CANAAN...
Processing NEW FAIRFIELD...
Processing NEW HARTFORD...
Processing NEW HAVEN...
Processing NEW LONDON...
Processing NEW MILFORD...
Processing NEW PRESTON...
Processing NEWINGTON...
Processing NEWTOWN...
Processing NIANTIC...
Processing NO HAVEN...
Processing NORFOLK...
Processing NORTH BRANFORD...
Processing NORTH CANAAN...
Processing NORTH GRANBY...
Processing NORTH GROSVENORDALE...
Processing NORTH HAVEN...
Processing NORTH STONINGTON...
Processing NORTH WINDAM...
Processing NORTH WINDHAM...
Processing NORTHFORD...
Processing NORWALK...
Processing NORWICH...
Processing OAKDALE...
Processing OAKVILLE...
Processing OLD LYME...
Processing OLD SAYBROOK...
Processing ONECO...
Processing ORANGE...
Processing OXFORD...
Processing PAWCATUCK...
Processing PLAINFIELD...
Processing PLAINVILLE...
Processing PLANTSVILLE...
Processing PLYMOUTH...
Processing POMFRET...
Processing PORTLAND...
Processing PRESTON...
Processing PROSPECT...
Processing PUTNAM...
Processing QUAKER HILL...
Processing QUINEBAUG...
Processing REDDING...
Processing RIDGEFIELD...
Processing ROCKVILLE...
Processing ROCKY HILL...
Processing ROGERS...
Processing S GLASTONBURY...
Processing SALEM...
Processing SALISBURY...
Processing SANDY HOOK...
Processing SEYMOUR...
Processing SHARON...
Processing SHELTON...
Processing SHERMAN...
Processing SIMSBURY...
Processing SOMERS...
Processing SOUTH WINDSOR...
Processing SOUTHBURY...
Processing SOUTHINGTON...
Processing SPRAGUE...
Processing STAFFORD...
Processing STAFFORD SPGS...
Processing STAFFORD SPRINGS...
Processing STAMFORD...
Processing STERLING...
Processing STONINGTON...
Processing STORRS...
Processing STRATFORD...
Processing SUFFIELD...
Processing TAFTVILLE...
Processing TARIFFVILLE...
Processing TERRYVILLE...
Processing THOMASTON...
Processing THOMPSON...
Processing TOLLAND...
Processing TORRINGTON...
Processing TRUMBULL...
Processing UNCASVILLE...
Processing UNIONVILLE...
Processing VERNON...
Processing VERNON-ROCKVILLE...
Processing VOLUNTOWN...
Processing W HAVEN...
Processing WALLINGFORD...
Processing WARREN...
Processing WASHINGTON...
Processing WATERBURY...
Processing WATERFORD...
Processing WATERTOWN...
Processing WAUREGAN...
Processing WEATOGUE...
Processing WEST HARTFORD...
Processing WEST HAVEN...
Processing WEST STAFFORD...
Processing WEST SUFFIELD...
Processing WESTBROOK...
Processing WESTON...
Processing WESTPORT...
Processing WETHERSFIELD...
Processing WILLIMANTIC...
Processing WILLINGTON...
Processing WILTON...
Processing WINCHESTER...
Processing WINDHAM...
Processing WINDSOR...
Processing WINDSOR LOCKS...
Processing WINSTED...
Processing WOLCOTT...
Processing WOODBRIDGE...
Processing WOODBURY...
Processing WOODSTOCK...
Latitude/Longitude processing complete!

In [13]:
# Group data by Death County by count
#clean_data.loc[clean_data["DeathCounty"]=="USA",:]
# One of the counties is "USA"; it's city is HARTFORD.  Change county to HARTFORD
clean_data["DeathCounty"] = clean_data["DeathCounty"].replace({"USA":"HARTFORD"})
# Clean any/all whitespaces around county names
clean_data["DeathCounty"] = clean_data["DeathCounty"].str.strip()

# Now that the data is cleaner, group it
county_grouped = clean_data.groupby("DeathCounty")
county_counts = pd.DataFrame(county_grouped.count()["ID"])
county_counts = county_counts.rename_axis('County')
county_counts = county_counts.rename(columns={"ID":"Deaths"})

#county_counts

            Deaths
County
FAIRFIELD      597
HARTFORD      1187
LITCHFIELD     235
MIDDLESEX      177
NEW HAVEN     1068
NEW LONDON     357
TOLLAND        109
WINDHAM        134

In [14]:
# Want to center the map on CT, so we need coordinates for the "center" of CT.
ct_coord = (41.5032, -72.6877)

In [15]:
# Configure gmaps
import gmaps
gmaps.configure(api_key=gkey)

In [16]:
# Load geojson_geometries for US Counties
import gmaps.geojson_geometries
county_geojson = gmaps.geojson_geometries.load_geometry('us-counties')

In [17]:
# Create geo_json of just CT
ct_geojson = {'type':'FeatureCollection',
             'features':[]}

for county in county_geojson['features']:
    if county['properties']["STATE"] == '09':
        ct_geojson['features'].append(county)

# Print list of counties for order
counties_ordered = []
for county in ct_geojson['features']:
    counties_ordered.append(county['properties']['NAME'])

counties_ordered

['Windham',
 'Tolland',
 'Hartford',
 'Middlesex',
 'Litchfield',
 'Fairfield',
 'New London',
 'New Haven']

In [18]:
# To convert deaths/weights to color, I'm modifying a color normalizer from the geojson documentation:
# https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#geojson-layer
# Requires a min and max value which I've manually pulled from the county data:
min_deaths = 100
max_deaths = 1000 # Setting max intensity to 400 for better vis
death_range = max_deaths - min_deaths
# Import neccessary functionality:
from matplotlib.cm import inferno
from matplotlib.colors import to_hex

def calculate_color(weight):
    """
    Convert the weight to a color
    """
    # make weight a number between 0 and 1
    normalized_deaths = (weight - min_deaths) / death_range

    # invert deaths so that high inequality gives dark color
    inverse_deaths = 1.0 - normalized_deaths

    # transform the deaths/weights to a matplotlib color
    mpl_color = inferno(inverse_deaths)

    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color
#print(county_counts)

            Deaths
County
FAIRFIELD      597
HARTFORD      1187
LITCHFIELD     235
MIDDLESEX      177
NEW HAVEN     1068
NEW LONDON     357
TOLLAND        109
WINDHAM        134

In [19]:
# Add column with color values
county_counts['Color'] = ''
for county,deaths in county_counts.iterrows():
    color = calculate_color(deaths["Deaths"])
    county_counts.loc[county,'Color'] = color
    
# Add colors to list in correct order
colors = []
for county in counties_ordered:
    colors.append(county_counts.loc[county.upper(),'Color'])
    
#colors

In [20]:
# Deaths by County Map
#figure_layout_0 = {}
county_map = gmaps.figure(center=ct_coord, zoom_level=8.4)
geo_layer = gmaps.geojson_layer(ct_geojson,
                                fill_color=colors,
#                                stroke_color=colors,
                                fill_opacity=0.6)
county_map.add_layer(geo_layer)


#Legend Addition
sorted_county_counts = county_counts.sort_values(by = ["Deaths"])
#print(sorted_county_counts)
colorDic = {sorted_county_counts.loc[county.upper(),"Deaths"]:sorted_county_counts.loc[county.upper(),"Color"] for county,row in sorted_county_counts.iterrows()}
#print(colorDic)

legend_template = '<span style="color: {color}; font-size: 9em; center-align: top;">&#9644;</span> {Deaths}'
legend_entries = [""]

for i in colorDic.keys():
    legend_entries.append(legend_template.format(color=colorDic[i], Deaths=i))
title_widget = widgets.HTML('<em>&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644   DEATH COUNT   &#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644 </em>')
legend = widgets.HBox(
    [widgets.HTML(legend_entry) for legend_entry in legend_entries],
    layout=widgets.Layout(width='100%', justify_content='center'))
widgets.VBox([county_map, legend,title_widget])

VBox(children=(Figure(layout=FigureLayout(height='420px')), HBox(children=(HTML(value=''), HTML(value='<span s…

In [22]:
# Deaths by City Map

#figure_layout_1 = {backgroundColor:'gray'}
city_map = gmaps.figure(center=ct_coord, zoom_level=8.4)
heatmap_layer = gmaps.heatmap_layer(
    city_counts[["Latitude","Longitude"]],
    weights=city_counts["Deaths"],
    max_intensity=100,
    point_radius=40.0,
    gradient=((0,0,0,0.2),'yellow',(255,160,0,0.8),'red')
    )

city_map.add_layer(heatmap_layer)


#Legend Addition
# red = (255,0,0); yellow = (255,255,0)

min_deaths = city_counts["Deaths"].min()
max_deaths = city_counts["Deaths"].max() 
death_range = max_deaths - min_deaths

def calculate_color(deaths):
    r = 255
    b=0
    g = int(((max_deaths-(deaths))/death_range) * r )
    color = rgb2hex(r, g, b)
    return color

sorted_city_counts = city_counts.sort_values(by = ["Deaths"])

colorDic = {sorted_city_counts.loc[index,"Deaths"]:calculate_color(sorted_city_counts.loc[index,"Deaths"]) for index,row in sorted_city_counts.iterrows()}


legend_template = '<span style="color: {color}; font-size: 7em; center-align: top;">&#9644;</span>'
legend_entries = [""]

for i in colorDic.keys():
    legend_entries.append(legend_template.format(color=colorDic[i]))

title_widget = widgets.HTML('<em>&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644 0 DEATHS &#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644 535 DEATHS &#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644&#9644 </em>')
legend = widgets.HBox(            
    [widgets.HTML(legend_entry) for legend_entry in legend_entries[35::3]],
    layout=widgets.Layout(width='100%', justify_content='center'))
widgets.VBox([city_map, legend,title_widget])

VBox(children=(Figure(layout=FigureLayout(height='420px')), HBox(children=(HTML(value='<span style="color: #FF…